<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/css/styles.css" />
    </head>
    <body>
        <ul>
            <li><a class="active" href="/">Home</a></li>
            <li><a href="/create">Create New User</a></li>
        </ul>

        <h2>List Users</h2>
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>City</th>
                <th>Action</th>
            </tr>
            <% listUser.forEach((user) => { %>
            <tr class="list-group">
                <td><%= user.id %></td>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td><%= user.city %></td>
                <td class="btn-group">
                    <a href="/update/<%= user.id %>">Update</a
                    ><a href="/delete">Delete</a>
                </td>
            </tr>
            <% }); %>
        </table>
    </body>
</html>
